/* Styling for Nav bar*/
.branding{
    font-size: 17px;
}

.fa {
    font-size: 20px;
}

/* Styling for intro */
.intro{
    background: url('../img/intro.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 140px 100px;
    color: #fff;
}

/* Styling for text and separation bar in intro*/
.intro h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.intro p{
    font-size: 16px;
    padding-bottom: 20px;
}

.intro hr{
    width: 100px;
    margin: auto;
    border-width: 3px;
    border-color: #f44336;
}

/* Styling for sections*/

.section {
    padding: 40px 0px;
}
